body {
	margin: 0;
	padding: 0;
	background-color: #FDF6FA;
	font-family: Trebuchet MS, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #5B5B5B;
}

a {
	text-decoration: none;
}

/*header*/

header {
	position: fixed;
	top: 0;
    width: 100vw;
	z-index: 1000;
	background-color: #A5232C;
}

.container {
	display: flex;
	position: relative;
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
	height: 5em;
	color: #FDF6FA;
	align-items: center;
}

header .form-language, .menu, .contacts {
	flex: 1 1 auto;
}

.image, footer .form-language {
	margin-left: 1.3em;
	flex: 10 1 auto;
}

.basic .image {
	flex:4 1 auto;
}

.image img {
	display: block;
	width: 10em;
}

.image a {
	display: block;
	width: 100%;
	height: 100%;
}

.menu ul, footer ul, .menu-info ul, 
.anketa-contry ul, .menu-adptv ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu li, .menu-info li {
	padding: 0.5em;
	display: inline-block;
}

.menu a, .menu-adptv a {
	color: #FDF6FA;
	display: block;
}

.menu .position-for-hover {
	position: relative;
}

.menu .hover {
	display: none;
}

li:hover >.hover {
	display: block;
	position: absolute;
	top: 2.1em;
	left: 0;
	padding: 0.5em;
	background-color: #A5232C;
}

.menu-adptv {
	display: none;
	position: relative;
	flex: 1 1 auto;
	width: 2em;
	height: 2em;
	background: url(../img/burger.png) no-repeat 0 0;
}

.menu-adptv ul {
	display: none;
}

.menu-adptv:hover ul {
	display: block;
	position: absolute;
	top: 2em;
	right: 0.5em;
	min-width: 13em;
	max-height: 10em;
	overflow-y: scroll;
	background-color: #A5232C;
}

.menu-adptv li {
	padding: 0.6em;
	padding-left: 0.8em;
	display: inline-block;
}

/*form index*/

.form-language select {
	margin: 0;
	padding: 0.5em;
	background-color: #FDF6FA;
	border: 1px solid #5B5B5B;
	color: #5B5B5B;
	border-radius: 5px;
}

.form-input {
	display: none;
	position: absolute;
	flex-basis: 100%;
	margin: auto;
	margin-left: -150px;
	top: 100px;
	left: 47.5%; 
	background-color: #FDF6FA;
	color: #5B5B5B;
	border: 1px solid #5B5B5B;
	padding: 1.3em;
	box-shadow: 0 0 150px 0;
	border-radius: 5px;
}

.main-header h2 {
	margin: 0;
	margin-bottom: 1.3em;
	display: inline-block;
	font-size: 30px;
	line-height: 28px;
} 

.close {
	display: inline-block;
	background: url(../img/close.png) no-repeat 0 0;
	width: 30px;
	height: 30px;
	float: right;
}

.main-header fieldset, 
.anketa-contry fieldset {
	border: none;
	margin: 0;
	padding: 0;
} 

.main-header input:not(.none) {
	padding: 1.1em;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 1.1em;
	border: 1px solid #5B5B5B;
	border-radius: 5px;
}

.form-link {
	display: inline-block;
	color: #5B5B5B;
	margin-left: 2em;
}

.btn {
	display: block;
	box-sizing: border-box;
	width: 100%;
	/*height: 100%;*/
	padding: 0.8em;
	margin-top: 1.1em;
	text-align: center;
	border-radius: 5px;
	background-color: #A5232C;
	color: #FDF6FA;
	text-transform: uppercase;
}

.transition {
	text-align: center;
}

.btn-second {
	display: block;
	box-sizing: border-box;
	width: 50%;
	height: 100%;
	padding: 0.8em;
	margin: 0 auto;
	margin-top: 1.1em;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #5B5B5B;
	border-radius: 5px;
	background-color: #FDF6FA;
	color: #5B5B5B;
}

.form-input:target {
	display: block;
}

.form-registration {
	display:none;
	position: absolute;
	flex-basis: 100%;
	height: 25em;
	margin: auto;
	margin-right: -250px;
	top: 100px;
	right: 52.5%; 
	background-color: #FDF6FA;
	color: #5B5B5B;
	border: 1px solid #5B5B5B;
	padding: 1.3em;
	box-shadow: 0 0 150px 0;
	border-radius: 5px;
	overflow-y: scroll;
}

.form-registration input {
	margin-top: 0.3em;
}

.form-registration select {
	margin-bottom: 1.1em;
	padding: 1.1em;
	box-sizing: border-box;
	color: #5B5B5B;
	border: 1px solid #5B5B5B;
	border-radius: 5px;
}

.conditions p {
	margin: 0 auto;
	width: 30em;
	font-size: 12px;
	line-height: 22px;
}

.conditions p a {
	color: #5B5B5B;
}

.form-registration:target {
	display: block;
}

/*svg*/

.container-svg {
	margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}

.svg {
	display: block;
	padding-top: 7em;
	padding-bottom: 2em;
}

/*profil*/

.profil, .anketa {
	padding: 3em;
	padding-top: 8em;
	margin: 0 auto;
	max-width: 1280px;
	background: url(../img/background.png) no-repeat 0 17em;
	background-size: cover;
}

.container-profil {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-areas: 
		"image-profil info-profil";
	gap: 1.5em;
}

.info-profil {
	grid-area: info-profil;
	display: grid;
	grid-template-rows: auto auto 1fr;
	grid-template-areas: 
		"basic-info"
		"menu-info"
		"info";
	gap: 1em;
}

.image-profil {
	grid-area: image-profil;
}

.image-profil .foto {
	width: 15em;
	height: 15em;
	background: url(../img/Тюлень.jpg) no-repeat -40px -60px;
	border: 0.5em solid #A5232C;
	border-radius: 50%;
}

.basic-info {
	grid-area: basic-info;
	position: relative;
	padding: 1.1em;
	background-color: #FDF6FA;
	box-shadow: 0 0 30px -15px;
}

.basic-info a, .anketa-transition a {
	display: block;
	color: #FDF6FA;
}

.basic-info h2, .basic-info p {
	margin: 0;
}

.basic-info p {
	margin-top: 0.3em;
}

.btn-edit {
	position: absolute;
	top: 1.1em;
	right: 1.1em;
	display: block;
	box-sizing: border-box;
	padding: 0.8em;
	text-align: center;
	border-radius: 5px;
	background-color: #A5232C;
	text-transform: uppercase;
}

.menu-info {
	grid-area: menu-info;
	padding: 1.1em;
	background-color: #FDF6FA;
	box-shadow: 0 0 30px -15px;
}

.menu-info a {
	display: block;
	font-size: 22px;
	line-height: 28px;
	color: #5B5B5B;
}

.info {
	grid-area: info;
	padding: 1.1em;
	background-color: #FDF6FA;
	box-shadow: 0 0 30px -15px;
}

.info h3 {
	margin: 0.8em 0;
}

.shot-info {
	display: flex;
	padding-bottom: 1em;
	font-size: 18px;
	line-height: 28px;
	border-bottom: 1px solid #9D9E9E;
	/*justify-content: space-start;
	align-items: flex-start;*/
}

.shot-info > div {
	margin-right: 2em;
}

.foto-add {
	display: none;
	position: relative;
	z-index: 3;
}

.foto-add:target {
	display: block;
}

.contaner-gallery {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	top: -23em;
	padding: 1.1em;
	background-color: #FDF6FA;
	box-shadow: 0 0 30px -15px;
}

/*anketa*/

.anketa {
	background: url(../img/background-r.png) no-repeat 6em 5em;
	background-size: cover;
}

.container-anketa {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-template-areas: 
		"anketa-contry anketa-transition";
	gap: 1.5em;
}

.anketa-contry {
	grid-area: anketa-contry;
	padding: 2em;
	background-color: #FDF6FA;
	box-shadow: 0 0 30px -15px;
}

.anketa-transition {
	grid-area: anketa-transition;
}

.name-contry h1 {
	margin: 0;
}

.name-contry {
	margin-bottom: 1.5em;
	padding: 1em;
	background-color: #FDF6FA;
	box-shadow: 0 0 20px -8px;
}

.anketa-contry input,
.anketa-contry textarea,
.anketa-contry select {
	padding: 0.4em;
	margin: 0.5em 0em;
	border: none;
	border-bottom: 1px solid #9D9E9E;
	color: #5B5B5B;
}

.anketa-contry input[type="file"] {
	visibility: hidden;
	border: none;
}

.anketa-contry label  {
	cursor: pointer;
}

.anketa-contry h3 {
	margin: 2em 0em;
	margin-bottom: 0em;
}

.anketa-contry a {
	display: block;
	color: #5B5B5B;
	
}
.contaner-drinks a {
	padding: 0.2em;
}

.contaner-drinks a:hover {
	background-color: #C5C6C6;
	border-radius: 5px;
}

.drinks li {
	padding: 0.5em;
	padding-left: 0em;
	display: inline-block;
}

#variety-al,
#type-vine {
	display: none;
}

#variety-al:target {
	display: block;
}

#type-vine:target {
	display: block;
}

.variety p {
	margin-bottom: 0.4em;
}

.variety ul {
	width: 50%;
}

.variety li {
	padding: 0.3em;
	padding-left: 0em;
}

.anketa-contry legend {
	margin: 0.7em 0em;
}

.anketa-contry select {
	margin-bottom: 1em;
}

.btn-save {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.btn-save a {
	color: #FDF6FA;
}

.btn-anketa {
	margin-top: 0;
	margin-bottom: 1.1em;
	text-transform: none;
}

/*footer*/

footer {
	width: 100vw;
	background-color: #5B5B5B;
}

.contacts aside {
	display: inline-block;
	color: #FDF6FA;
	font-size: 14px;
	line-height: 22px;
}

.contacts h3 {
	margin: 0;
	margin-left: 0.4em;
	color: #C5C6C6;
}

.contacts li {
	display: inline-block;
	padding: 0.2em;
}

.contacts a {
	display: block;
	width: 25px;
	height: 20px;
	background: url(../img/icon.png) no-repeat;
}

.connection .icon-face {
	background-position: 8px 0;
}

.connection .icon-Twit {
	background-position: -16px 0;
}

.connection .icon-tum {
	background-position: -43px 0;
}

.connection .icon-insta {
	background-position: -69px 0;
}

.modile {
	margin-left: 1.1em;
}

.modile .icon-apple {
	background-position: -99px 0;
}

.modile .icon-android {
	background-position: -125px 0;
}

@media screen and (min-width: 321px) and (max-width: 450px) {
	.main-header .image {
		display: none;
	}

	.main-header .form-language {
		margin-left: 1.3em;
	}

	footer .form-language {
		display: none;
	}
}

@media screen and (min-width: 321px) and (max-width: 650px) {
	.profil {
		padding: 1.5em;
		padding-top: 7em;
	}

	.container-profil {
		display: block;
		min-height: 75em;
	}

	.image-profil .foto {
		margin: 0 auto;
		margin-bottom: 1.5em;
	}

    .info-profil {
    	float: left;
    }

    .shot-info {
    	flex-direction: column;
    }

    .shot-info div {
    	margin: 0em;
    }

    .contacts h3 {
    	display: none;
    }
} 

@media screen and (min-width: 321px) and (max-width: 750px){
	.main-header .menu {
		display: none;
	}

    .menu-adptv {
    	display: block;
    }
}

@media screen and (min-width: 321px) and (max-width: 900px) {
    .btn-edit {
    	position: static;
    }

    .basic-info p {
    	margin-bottom: 0.3em;
    }
}
