@charset "UTF-8";
.str0 {stroke:black;stroke-width:7.62;stroke-linecap:round;stroke-linejoin:round}
.fil0 {fill:none;fill-rule:nonzero}
.fil3 {fill:#D9DADA;fill-rule:nonzero}
.fil2 {fill:#EE757C;fill-rule:nonzero}
.fil1 {fill:#A5232C;fill-rule:nonzero}
